<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Autores Españoles
    </ion-title>
  </ion-toolbar>
</ion-header>

  <h1>LISTA DE AUTORES ESPAÑOLES</h1>

  <ion-item-divider></ion-item-divider>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" *ngFor="let documentAutor of arrayColeccionAutores">
        <ion-card (click)="selecAutor(documentAutor)">
          <img src={{documentAutor.data.imagenURL}} height="200px" width="200px">
          <ion-card-header>
            <ion-card-title>{{documentAutor.data.nombreCompleto}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab-button (click)="clicBotonInsertar()" expand="full" color="secondary">Añadir</ion-fab-button>