<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Autores Españoles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre Completo</ion-label>
    <ion-input [(ngModel)]="autorEditando.nombreCompleto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Lugar de Nacimiento</ion-label>
    <ion-input [(ngModel)]="autorEditando.lugarNacimiento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-input type="date" [(ngModel)]="autorEditando.fechaNacimiento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Defuncion</ion-label>
    <ion-input type="date" [(ngModel)]="autorEditando.fechaDefuncion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Obras Notables</ion-label>
    <ion-input [(ngModel)]="autorEditando.obrasNotables"></ion-input>
  </ion-item>
  <ion-button (click)="clicBotonInsertar()">Añadir autor</ion-button>


  <ion-item-divider></ion-item-divider>

  <h1>LISTA DE AUTORES ESPAÑOLES</h1>

  <ion-item-divider></ion-item-divider>


  <ion-grid>
    <ion-row>
      <ion-col size="2" *ngFor="let documentAutor of arrayColeccionAutores">
        <ion-card (click)="selecAutor(documentAutor)">
          <img src={{documentAutor.data.imagenURL}} height="200px" width="200px">
          <ion-card-header>
            <ion-card-title>{{documentAutor.data.nombreCompleto}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="clicBotonBorrar()">Borrar autor</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button>
</ion-content>